.MenuMiddle{
	margin-left:15%;
	margin-right:15%;
	display: flex;
	justify-content: space-between;
}
.listmain{
	height:auto;
	background-color:#000a37;
}
.list{
	height:auto;
	background-color:#000a37;
}
.buttonNew{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	box-sizing: border-box;
	display: inline-block;
	font-weight:700;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: none;
	background: #800080;
	text-decoration: none;
	cursor: pointer;
	color: #fff;
	background-color:#800080; 
	border-color:#800080; 
	margin:3px;
}

.buttonNew:active{
	background:#330066;
	color:white;
	text-decoration:none;
	border-color: #330066;
}
.buttonNew:hover {
	background:#330066; 
	color:white;
	text-decoration:none;
	border-color: #330066;
}
.okno{
	background-color:#330066;
	border-radius: .25rem;
	padding: .375rem .75rem;
}
.kek{
	background:#330066;
	color:white;
	text-decoration:none;
	border-color: #330066;
}
.news1{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.75rem;
	margin-left:5%;
	margin-right:5%;
	border-radius:5px 5px;
}
.f1{
	border-radius:5px 5px;
	width:420px;
	height:275px;
	float:left;
	margin-bottom:1%;
}
.f2{
	border-radius:5px 5px;
	width:420px;
	height:275px;
	float:left;
	margin-bottom:1%;
}
.f3{
	border-radius:5px 5px;
	width:420px;
	height:275px;
	float:left;
	margin-bottom:1%;
}
.f4{
	border-radius:5px 5px;
	width:420px;
	height:275px;
	float:left;
	margin-bottom:1%;
}
.f5{
	border-radius:5px 5px;
	width:420px;
	height:275px;
	float:left;
	margin-bottom:1%;
}
.f6{
	border-radius:5px 5px;
	width:420px;
	height:275px;
	float:left;
	margin-bottom:1%;
}
.block1{
	margin-top:1%;
	margin-bottom:1%;
	margin: 7px 7px 7px 7px;
	float:left;
	font-size:1.65rem;
	background-color:rgba(168,168,185,0.2);
	margin-left:7%;
	margin-right:7%;
	border-radius:5px 5px;
}	

.copy{
	font: 10px Verdana, Geneva, sans-serif;
    text-align: center;
	color:white;
	font-weight:700;
}
.next{
	color:black;
}
.istr{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 2rem;
	font-weight:700;
	margin-left:15%;
	color:white;
}
